<%- include('partials/header') %>
    <div class="cover">
        <div class="container">
            <form action="/admin/addStore" method="POST" id="addStoreByAdmin" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                <div class="inputs" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                    <input type="text" placeholder="Store Name" name="storeName" required>
                    <input type="email" placeholder="Email" name="email" required>
                    <input type="password" placeholder="Password" name="password" required>
                    <input type="text" placeholder="Owner Name" name="sellerName" required>
                    <input type="Number" placeholder="Owner's Phone Number" name="phoneNumber" required>
                    <input type="Number" placeholder="Owner's Whatsapp Number" name="whatsappNumber" required>
                    <input type="Number" placeholder="Pin Code" name="pincode" required>
                    <input type="text" placeholder="apartment or Building" name="building" required>
                    <input type="text" placeholder="street" name="street" required>
                    <input type="text" placeholder="locality" name="locality" required>
                    <div>
                        <label for="city">City:</label>
                        <select name="city" id="city">
                            <% for(let i=0;i < cities.length;i++) { %>
                                <option value="<%= cities[i] %>">
                                    <%= cities[i] %>
                                </option>
                                <% } %>
                        </select>
                    </div>
                    <div>
                        <label for="state">State:</label>
                        <select name="state" id="state">
                            <% for(let i=0;i < states.length;i++) { %>
                                <option value="<%= states[i] %>">
                                    <%= states[i] %>
                                </option>
                                <% } %>
                        </select>
                    </div>
                </div>
                <button>Submit</button>
            </form>
        </div>
    </div>
    <%- include('partials/footer') %>