<%- include('partials/header') %>

<div class="cover">
    <div class="container">
        <form action="" id="addStoreByAdmin" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
            <div class="inputs" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
            <input type="text" placeholder="Shop Name" required>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <input type="text" placeholder="Owner Name" required>
            <input type="Number" placeholder="Owner's Phone Number" required>
            <input type="Number" placeholder="Owner's Whatsapp Number" required>
            <!-- <input type="text" placeholder="Address"> -->
            <input type="Number" placeholder="Pin Code" required>
            <div>
                <label for="city">City:</label>
                <select name="city" id="city">
                    <% for(let i=0;i < cities.length;i++) { %>
                        <option value="<%= cities[i] %>"><%= cities[i] %></option>
                    <% } %>
                </select>
            </div>
            <div>
                <label for="state">State:</label>
                <select name="state" id="city">
                    <% for(let i=0;i < states.length;i++) { %>
                        <option value="<%= states[i] %>"><%= states[i] %></option>
                    <% } %>
                </select>
            </div>
          
            </div>
        <button>Submit</button>
        </form>
    </div>
</div>
<%- include('partials/footer') %>

<script src="">
    const formElement = document.getElementById("addStoreByAdmin");
    formElement.addEventListener()
</script>