<%- include('partials/header') %>
    <header>
        <div class="cover header">
            <div class="search">
                <input class="search-input" type="search" name="" id="" placeholder="Search">
                <i class="fa-search fas"></i>
            </div>

            <form action="">
                <label for="city">City:</label>
                <select name="city" id="city">
                  <% for(var i=0; i < cities.length; i++) {%>
                    <option value="<%= cities[i] %>"><%= cities[i] %></option>
                  <% } %>
                  <!-- <option value="Indore">Indore</option>
                  <option value="Delhi">Delhi</option>
                  <option value="Mumbai">Mumbai</option> -->
                </select>
            </form>
        </div>
    </header>

    <div class="list">
        <div class="cover">
            <div class="container">
                <div class="row">
                  <div class="col-12">
                    <table>
                      <thead>
                        <tr>
                          <th >Serial Number</th>
                          <th >Shop Name</th>
                          <th >Owner Name</th>
                          <th >Pincode</th>
                          <th >Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i=0;i< products.length;i++) {%>
                          <tr>
                            <th > <%=(i+1) %> </th>
                            <td><%= products[i].shopName %></td>
                            <td><%= products[i].sellerName %></td>
                            <td><%= products[i].address.pincode %></td>
                            <td>
                              <button type="button" class="green"><i class="fas fa-check"></i></button>
                            <button type="button" class="red"><i class="far fa-trash-alt"></i></button>
                            </td>
                          </tr>
                          <% }%>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="cover" style="padding-bottom: 30px;">
      <div class="container">
        OR <a href="/admin/addstore">Add Store Manually</a>
      </div>
    </div>
    <header class="">
        <div class="cover header">
            <form action="">
                <label for="type">Type:</label>
                <select name="type" id="type">
                  <option value="Accepted">Accepted</option>
                  <option value="Rejected">Rejected</option>
                </select>
            </form>
        </div>
    </header>

    <div class="list">
        <div class="cover">
            <div class="container">
                <div class="row">
                  <div class="col-12">
                    <table>
                      <thead>
                        <tr>
                          <th >Serial Number</th>
                          <th >Shop Name</th>
                          <th >Owner Name</th>
                          <th >Pincode</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(let i=0;i < rejected.length;i++) { %>
                          <tr>
                            <th><%= (i+1) %></th>
                            <td><%= rejected[i].name %></td>
                            <td><%= rejected[i].ownerName %></td>
                            <td><%= rejected[i].pincode %></td>
                          </tr>
                        <% } %>
                        
                        <tr>
                          <th >2</th>
                          <td>Bootstrap Grid 4 Tutorial and Examples</td>
                          <td>Cristina</td>
                          <td>3.417</td>
                        </tr>
                        <tr>
                          <th >3</th>
                          <td>Bootstrap Flexbox Tutorial and Examples</td>
                          <td>Cristina</td>
                          <td>1.234</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        </div>
    </div>
<%- include('partials/footer') %>