<%- include('partials/header') %>
    <header>
        <div class="cover header">
            <div class="search">
                <input class="search-input" type="search" name="" id="" placeholder="Search">
                <i class="fa-search fas"></i>
            </div>

            <form action="">
                <label for="city">City:</label>
                <select name="city" id="city">
                  <% for(var i=0; i < cities.length; i++) {%>
                    <option value="<%= cities[i] %>"><%= cities[i] %></option>
                  <% } %>
                  <!-- <option value="Indore">Indore</option>
                  <option value="Delhi">Delhi</option>
                  <option value="Mumbai">Mumbai</option> -->
                </select>
            </form>
        </div>
    </header>

    <% if (pending.length > 0) {%>
      <div class="list">
        <div class="cover">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <table>
                  <thead>
                    <tr>
                      <th >Serial Number</th>
                      <th >Store Name</th>
                      <th >Owner Name</th>
                      <th >Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i=0;i< pending.length;i++) {%>
                      <tr>
                        <th > <%=(i+1) %> </th>
                        <td><%= pending[i].storeName %></td>
                        <td><%= pending[i].sellerName %></td>
                        <td>
                          <a href="/admin/storeStatusChange?ID=<%=pending[i]._id%>&task=accept">
                            <button type="button" class="green"><i class="fas fa-check"></i></button>
                          </a>
                          <a href="/admin/storeStatusChange?ID=<%=pending[i]._id%>&task=reject">
                            <button type="button" class="red"><i class="far fa-trash-alt"></i></button>
                          </a>
                        </td>
                      </tr>
                    <% }%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% }else{ %>
      <br>
    <% }%>
    <div class="cover" style="padding-bottom: 30px;">
      <div class="container">
        <a href="/admin/addstore">Add Store Manually</a>
      </div>
    </div>
    <header class="">
        <div class="cover header">
            <form action="">
                <label for="type">Type:</label>
                <select name="type" id="type">
                  <option value="Accepted">Accepted</option>
                  <option value="Rejected">Rejected</option>
                </select>
            </form>
        </div>
    </header>
    
    <div class="list">
        <div class="cover">
            <div class="container">
                <div class="row">
                  <div class="col-12">
                    <table>
                      <thead>
                        <tr>
                          <th >Serial Number</th>
                          <th >Shop Name</th>
                          <th >Owner Name</th>
                          <th >Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(let i=0;i < rejected.length;i++) { %>
                          <tr>
                            <th><%= (i+1) %></th>
                            <td><%= rejected[i].storeName %></td>
                            <td><%= rejected[i].sellerName %></td>
                            <td>
                              <a href="/admin/storeStatusChange?ID=<%=rejected[i]._id%>&task=accept">
                                <button type="button" class="green"><i class="fas fa-check"></i></button>
                              </a>
                            </td>
                          </tr>
                        <% } %>
                          
                        <% for(let i=0;i < accepted.length;i++) { %>
                          <tr>
                            <th><%= (i+1) %></th>
                            <td><%= accepted[i].storeName %></td>
                            <td><%= accepted[i].sellerName %></td>
                            <td>
                              <a href="/admin/storeStatusChange?ID=<%=accepted[i]._id%>&task=reject">
                                <button type="button" class="red"><i class="far fa-trash-alt"></i></button>
                              </a>
                            </td>
                          </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        </div>
    </div>
<%- include('partials/footer') %>