<title>Dashboard</title>
<%- include('partials/header')%>
    <link rel="stylesheet" href="/store_UI/css/dashboard.css">

    <img src="/store_UI/img/dashboard.png" id="image" alt="img">
    <div id="dashboard">
        <div class="container" id="head">Dashboard</div>
        <div>
            <table id="productSizes" class="table-borderless" style="width: 100%; margin-right: 10px;">
                <thead>
                    <tr class="d-flex" id="headings">
                        <th class="col-2">S.No</th>
                        <th class="col">Product Name</th>
                        <th class="col-2">Status</th>
                    </tr>
                </thead>
                <thead>
                    <tr class="d-flex" id="blank">
                        <th class="col-2"></th>
                        <th class="col"></th>
                        <th class="col-2"></th>
                    </tr>
                </thead>
                <% for(var i=0; i<tableDetails.length; i++) {%>
                    <thead>
                        <% if (i&1) {%>
                            <tr class="d-flex" id="blue">
                                <% }else{ %>
                            <tr class="d-flex" id="white">
                                <% } %>
                                    <th class="col-2">
                                        <%= i+1 %>
                                    </th>
                                    <th class="col">
                                        <%= tableDetails[i].productName %>
                                    </th>
                                    <th class="col-2"><button type="button"
                                            class="btn <%= tableDetails[i].status %>"></button></th>
                            </tr>
                    </thead>
                    <% } %>
            </table>
        </div>
    </div>
    <script>
        const list = document.getElementsByClassName("accepted");
        for (i = 0; i < list.length; i++) { list[i].innerHTML = "Accepted"; }
        const list2 = document.getElementsByClassName("rejected");
        for (i = 0; i < list2.length; i++) { list2[i].innerHTML = "Rejected"; }
        const list3 = document.getElementsByClassName("returned");
        for (i = 0; i < list3.length; i++) { list3[i].innerHTML = "Returned"; }
        const list4 = document.getElementsByClassName("pending");
        for (i = 0; i < list4.length; i++) { list4[i].innerHTML = "Pending"; }
    </script>
    <%- include('partials/footer')%>