<%- include('partials/header') %>
<%- include('partials/sidebar') %>
  <% var prod = products; %>
  <main id="main" class="main">
    <% var prod = products ; %>
    <div class="pagetitle">
      <h1>Products</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/store">Store</a></li>
          <li class="breadcrumb-item">Products</li>
          <!-- <li class="breadcrumb-item active">Cards</li> -->
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row align-items-top">

        <% for(let i=0;i < products.length;i++) {%>
        <div class="col-lg-3">
          <div class="card">
            <% for(let j=0;j<products[i].images.length;j++) {%>
              <img src="/store_UI/img/<%=products[i].images[j]%>" class="card-img-top" alt="...">
            <% } %>
            <div class="card-body">
              <h5 class="card-title"><%= products[i].name %></h5>
              <label for="Quantity">Quantity: </label>
              <input class="w-25" type="number" name="Quantity" id="Quantity" value="<%= products[i].availableQuantity %>"  onchange="changeQuantity('<%= products[i]._id %>', this)">
              <p class="card-text">Description: <%= products[i].description %></p>
              <!-- <a href="/store/editProduct?ID=<%=products[i]._id%>"><button type="button" class="btn btn-success btn-lg btn-round">Edit</button></a> -->
              <a href="/store/deleteProduct?ID=<%=products[i]._id%>"><button type="button" class="btn btn-danger btn-lg btn-round">Delete</button></a>
          
            </div>
          </div>
        </div>

        <% } %>
      </div>
    </section>

  </main>
  <!-- End #main -->
  <%- include('partials/footer') %>