<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/favicon_io/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/favicon_io/favicon-32x32.png"
    />
    <link rel="manifest" href="assets/favicon_io/site.webmanifest" />
    <link rel="stylesheet" href="style.css" />
    <title>Product</title>

    <style>
      .carousel-inner {
        display: flex;
        align-items: center;
        object-fit: contain;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-position: 0% 0%;
        padding: 16px;
        width: 392px;
        height: 392px;
        border: 1px solid rgb(240, 242, 247);
      }

      .carousel-item img {
        aspect-ratio: auto;
        width: 360px;
        max-height: 360px;
      }

      .carousel-container {
        width: 392px;
        box-sizing: border-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        flex-direction: column;
      }

      .content {
        width: 70%;
      }

      .product-content {
        box-sizing: border-box;
        flex: 1 1 0%;
      }

      .btn-add {
        background-color: rgb(255, 255, 255);
        font-weight: 700;
        letter-spacing: 0.3px;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        display: flex;
        line-height: 24px;
        height: 100%;
        color: rgb(0, 179, 122);
        border: 1px solid rgb(231, 232, 235);
      }

      .btn-add:hover {
        color: rgb(0, 179, 122);
        border: 1px solid rgb(231, 232, 235);
        box-shadow: rgb(0 0 0 / 8%) 0px 4px 9px;
      }

      p.lead {
        display: flex;
        align-items: center;
      }

      .rating-btn {
        line-height: 1em;
        padding: 0.25em 0.5em;
      }

      .breaker {
        width: 70%;
        flex-shrink: 0;
        background-color: rgb(241, 241, 245);
        height: 2px;
      }
    </style>

    <script
      src="https://kit.fontawesome.com/4d8145f93f.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="container mt-5 content d-flex">
      <div class="carousel-container">
        <div
          id="carouselExampleIndicators"
          class="carousel carousel-dark slide pb-5 pt-2"
          data-bs-ride="carousel"
          data-bs-interval="false"
        >
          <div class="carousel-indicators">
            <%for(let i=0;i < images.length; i++) {%> <% if(i == 0) {%>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="<%= i %>"
              class="active"
              aria-current="true"
              aria-label="Slide <%= i+1 %>"
            ></button>
            <%} else {%>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="<%= i %>"
              aria-label="Slide <%= i+1 %>"
            ></button>
            <% } %> <% } %>
          </div>
          <div class="carousel-inner">
            <%for(let i=0;i < images.length; i++) {%> <% if(i == 0) {%>
            <div class="carousel-item active">
              <img
                src="data:images/image/png;base64,<%=images[i].data.toString('base64')%>"
                class="d-block"
                alt="..."
              />
            </div>
            <% } else { %>
            <div class="carousel-item">
              <img
                src="data:images/image/png;base64,<%=images[i].data.toString('base64')%>"
                class="d-block"
                alt="..."
              />
            </div>
            <% } %> <% } %>
          </div>
        </div>
      </div>
      <div class="product-content ms-4 mt-3">
        <h1 class="display-6"><%=product.name%></h1>
        <div class="my-3">
          <button class="btn btn-add rounded-pill">+ ADD</button>
        </div>
        <p class="lead mb-1">
          <span class="fs-3 fw-bolder">₹<%= product.salePrice %></span>
          <span class="ms-2 text-muted text-decoration-line-through fs-5"
            ><%= product.mrp %></span
          >
          <span class="ms-2 fs-6 text-success"
            ><%= (Number.parseInt((product.mrp-product.salePrice)/product.mrp *
            100))%>% off</span
          >
        </p>
        <p class="fs-5 mt-3">
          <button type="button" class="btn btn-success rating-btn">
            4.2 ⭐
          </button>
          <span class="text-muted text-sm fs-6">25,100 ratings</span>
        </p>
        <div class="btn-group w-100" role="group" aria-label="Basic example">
          <% if(user) {%>
          <a href="/addToCart" type="button" class="btn btn-light"
            >Add to Cart</a
          >
          <a href="/placeOrder" type="button" class="btn btn-success"
            >Buy Now</a
          >
          <%} else {%>
          <a href="/login" type="button" class="btn btn-light">Add to Cart</a>
          <a href="/login" type="button" class="btn btn-success">Buy Now</a>
          <% } %>
        </div>
      </div>
    </div>

    <div class="breaker mt-2 mx-auto"></div>

    <div class="container content mb-1 mt-2">
      <h4 class="mt-4">Product Description</h4>
      <p class="fs-5 lead"><%= product.description %></p>
    </div>

    <div class="breaker mt-2 mx-auto"></div>

    <!-- Rating Container -->
    <!-- <div class="container content mb-1 mt-2">
        <h4 class="mt-4 mb-3">Ratings and Reviews</h4>
        <div class="card my-2">
            <div class="card-body">
                <h6 class="card-subtitle mb-2"><button type="button" class="btn btn-success rounded-pill rating-btn">4
                        ⭐</button> Wonderful Purchase</h6>
                <p class="card-text mb-2 fs-5 lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium,
                    accusamus aliquid? Sed rem doloribus fugit iusto libero. Quaerat dolores nihil aspernatur, nemo
                    veniam laboriosam assumenda fugiat harum sequi consectetur repudiandae!</p>
                <h6 class="text-muted">Mr. Xyz</h6>
            </div>
        </div>
        <div class="card my-2">
            <div class="card-body">
                <h6 class="card-subtitle mb-2"><button type="button" class="btn btn-success rounded-pill rating-btn">4
                        ⭐</button> Wonderful Purchase</h6>
                <p class="card-text mb-2 fs-5 lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium,
                    accusamus aliquid? Sed rem doloribus fugit iusto libero. Quaerat dolores nihil aspernatur, nemo
                    veniam laboriosam assumenda fugiat harum sequi consectetur repudiandae!</p>
                <h6 class="text-muted">Mr. Xyz</h6>
            </div>
        </div>
    </div> -->
    <!-- Rating Container Ends -->
    <div class="footer"></div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
      integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
