<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="user_UI/assets/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="user_UI/assets/favicon_io/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="user_UI/assets/favicon_io/favicon-32x32.png"
    />
    <link rel="manifest" href="user_UI/assets/favicon_io/site.webmanifest" />
    <link rel="stylesheet" href="style.css" />
    <title>Product</title>

    <style>
      .carousel-inner {
        height: 40vh;
        display: flex;
        align-items: center;
      }

      p.lead {
        display: flex;
        align-items: center;
      }

      .btn-group {
        border-radius: 2px;
        box-shadow: rgb(0 0 0 / 15%) 0px -1px 3px 0px;
        position: fixed;
        bottom: 0;
      }

      .rating-btn {
        line-height: 1em;
        padding: 0.25em 0.5em;
      }
    </style>

    <script
      src="https://kit.fontawesome.com/4d8145f93f.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- Mobile View upto 768px -->
    <div class="container">
      <div
        id="carouselExampleIndicators"
        class="carousel carousel-dark slide pb-5 pt-2"
        data-bs-ride=""
      >
        <div class="carousel-indicators">
          <%for(let i=0;i < product.images.length; i++) {%> <% if(i == 0) {%>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="<%= i %>"
            class="active"
            aria-current="true"
            aria-label="Slide <%= i+1 %>"
          ></button>
          <% } else { %>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="<%= i %>"
            aria-label="Slide <%= i+1 %>"
          ></button>
          <% } %> <% } %>
        </div>
        <div class="carousel-inner">
          <%for(let i=0;i < product.images.length; i++) {%> <% if(i == 0) {%>
          <div class="carousel-item active">
            <img
              src="data:images/image/png;base64,<%=product.images[i].data.toString('base64')%>"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <% } else { %>
          <div class="carousel-item">
            <img
              src="data:images/image/png;base64,<%=product.images[i].data.toString('base64')%>"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <% } %> <% } %>
        </div>
      </div>
    </div>

    <div class="container">
      <h3><%=product.name%></h3>
      <p class="lead">
        <span class="text-muted text-decoration-line-through fs-4"
          ><%= product.mrp %></span
        >
        <span class="ms-2 fs-1 fw-bolder"><%= product.salePrice %></span>
        <span class="ms-2 fs-6 text-success"
          ><%= (Number.parseInt((product.mrp-product.salePrice)/product.mrp *
          100))%> %off</span
        >
      </p>
      <p class="fs-5">
        <button type="button" class="btn btn-success rating-btn">4.2 ⭐</button>
        <span class="text-muted text-sm fs-6">25,100 ratings</span>
      </p>
    </div>
    <div class="container mb-1">
      <h6>Product Description</h6>
      <p class="fs-6"><%= product.description %></p>
    </div>
    <!-- Rating Container -->
    <!-- <div class="container mb-5">
        <h6>Ratings and Reviews</h6>
        <div class="card my-2" style="width: 18rem;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2"><button type="button" class="btn btn-success rounded-pill rating-btn">4 
                        ⭐</button> Wonderful Purchase</h6>
                <p class="card-text mb-2 fs-6">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium,
                    accusamus aliquid? Sed rem doloribus fugit iusto libero. Quaerat dolores nihil aspernatur, nemo
                    veniam laboriosam assumenda fugiat harum sequi consectetur repudiandae!</p>
                <h6 class="text-muted">Mr. Xyz</h6>
            </div>
        </div>
        <div class="card my-2" style="width: 18rem;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2"><button type="button" class="btn btn-success rounded-pill rating-btn">4 
                        ⭐</button> Wonderful Purchase</h6>
                <p class="card-text mb-2 fs-6">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium,
                    accusamus aliquid? Sed rem doloribus fugit iusto libero. Quaerat dolores nihil aspernatur, nemo
                    veniam laboriosam assumenda fugiat harum sequi consectetur repudiandae!</p>
                <h6 class="text-muted">Mr. Xyz</h6>
            </div>
        </div>
    </div> -->
    <!-- Rating Container Ends -->
    <div class="btn-group w-100" role="group" aria-label="Basic example">
      <% if(user) {%>
      <a href="/addToCart" type="button" class="btn btn-light">Add to Cart</a>
      <a href="/placeOrder" type="button" class="btn btn-success">Buy Now</a>
      <%} else {%>
      <a href="/login" type="button" class="btn btn-light">Add to Cart</a>
      <a href="/login" type="button" class="btn btn-success">Buy Now</a>
      <% } %>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
      integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
