<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <link rel="apple-touch-icon" sizes="180x180" href="user_UI/assets/favicon_io/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="user_UI/assets/favicon_io/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="user_UI/assets/favicon_io/favicon-32x32.png" />
    <link rel="manifest" href="user_UI/assets/favicon_io/site.webmanifest" />
    <link rel="stylesheet" href="style.css" />
    <title>Cart</title>
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      body {
        margin: 0px;
        font-size: 14px;
        color: #212121;
        line-height: 1.4;
      }

      .deliver_to {
        display: block;
        margin: 5px 10px 0px 0px;
        width: 100%;
        box-shadow: rgb(0 0 0 / 15%) 0px 4px 4px -2px;
      }

      .deliver_container {
        flex-direction: row;
        padding: 12px 16px;
        background: #fff;
        box-shadow: 0 0 2px rgb(0 0 0 / 12%);
        border-radius: 4px;
        align-items: center;
        display: flex;
      }

      .deliver_text1 {
        color: #111112;
        line-height: 20px;
        margin-right: 5px;
      }

      .user_location {
        color: #111112;
        line-height: 20px;
        font-weight: 500;
      }

      .change_container {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: flex-end;
      }

      .change_btn {
        border: 1px solid #e0e0e0;
        background-color: #fff;
        border-radius: 4px;
        padding: 10px 16px;
        color: #2874f0;
        cursor: pointer;
        font-weight: 500;
      }

      .value {
        display: flex;
        flex-flow: column;
        align-self: flex-start;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: rgb(0 0 0 / 15%) 0px 4px 4px -2px;
      }

      .value_container {
        position: relative;
        width: 100%;
        display: inline-block;
        vertical-align: top;
        background: #fff;
        border-radius: 2px;
        min-height: 47px;
        box-shadow: 0 0 2px rgb(0 0 0 / 12%);
      }

      .price {
        display: block;
        text-transform: uppercase;
        padding: 13px 24px;
        font-weight: 500;
        color: #878787;
        min-height: 47px;
        border-radius: 2px 2px 0 0;
        border-bottom: 1px solid #f0f0f0;
        font-size: 16px;
      }

      .price_breakup {
        padding: 0 24px;
        border-bottom: 1px solid #f0f0f0;
        font-size: 16px;
      }

      .price_section {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        align-items: flex-start;
      }

      .section_title {
        max-width: 68%;
        display: block;
      }

      .color-2 {
        color: #388e3c;
      }

      .price_total {
        border-top: 1px dashed #e0e0e0;
        border-bottom: 1px dashed #e0e0e0;
        font-weight: 500;
        font-size: 18px;
      }

      .price_subtotal {
        font-weight: 500;
        font-size: 18px;
        padding: 0 24px;
        padding-top: 1px;
      }

      .price_subtotal .price_section {
        margin-bottom: 0px;
      }

      .value_final {
        padding: 12px 0;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        border-radius: 2px;
        color: #388e3c;
        font-weight: 500;
      }

      .place {
        background: #fff;
        padding: 12px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
      }

      .buy_btn {
        background: #fb641b;
        width: 100%;
        box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
        border: none;
        color: #fff;
        border-radius: 8px;
        padding: 10px 20px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
      }

      .buy_btn:hover {
        color: #fff;
      }

      .checkout {
        box-shadow: rgb(0 0 0 / 15%) 0px 4px 4px -2px;
        margin-top: 10px;
      }

      .checkout_container {
        box-shadow: 0 0 2px rgb(0 0 0 / 12%);
        background: #fff;
      }

      .products {
        width: 100%;
        margin-top: 10px;
        box-shadow: rgb(0 0 0 / 15%) 0px 4px 4px -2px;
      }

      .products_tab {
        border-top: 1px solid #f0f0f0;
        padding: 24px;
        box-shadow: 0 0 2px rgb(0 0 0 / 12%);
        background: #fff;
        max-width: 950px;
      }

      .product_info {
        display: flex;
      }

      .product_img-div {
        width: 112px;
        height: 112px;
        position: relative;
        margin: 0 auto;
      }

      .product_img {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
      }

      .product_description {
        padding: 0 24px 12px;
        vertical-align: top;
        flex: 1 1;
        max-width: 460px;
      }

      .p_title-div,
      .p_title-div a {
        display: block;
        white-space: nowrap;
        height: 20px;
        text-decoration: none;
        border: none;
        outline: none;
      }

      .p_title {
        font-size: 18px;
        color: #212121;
        line-height: 1;
        display: inline;
      }

      .p_price {
        margin-top: 5px;
      }

      span.mazinda {
        font-size: 16px;
        font-weight: 500;
        color: #212121;
        margin-right: 5px;
      }

      .p_available-div {
        margin-top: 8px;
        display: block;
        white-space: nowrap;
        text-decoration: none;
        border: none;
        outline: none;
      }

      .p_available {
        font-size: 12px;
        color: rgb(0, 140, 0);
        line-height: 1;
        display: inline;
      }

      .p-assured-div {
        margin-top: 8px;
        display: block;
        border: none;
      }

      .p_seller-div {
        margin-top: 8px;
        display: block;
        border: none;
      }

      .p-seller {
        font-size: 14px;
        color: #212121;
        line-height: 1;
        display: inline;
      }

      @import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

      body {
        font-family: "Calibri", sans-serif !important;
      }

      .mt-100 {
        margin-top: 100px;
      }

      .card {
        margin-bottom: 30px;
        border: 0;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        letter-spacing: 0.5px;
        border-radius: 8px;
        -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
        box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
      }

      .card .card-header {
        background-color: #fff;
        border-bottom: none;
        padding: 24px;
        border-bottom: 1px solid #f6f7fb;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      .card-header:first-child {
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
      }

      .card .card-body {
        padding: 30px;
        background-color: transparent;
      }

      .btn-primary,
      .btn-primary.disabled,
      .btn-primary:disabled {
        background-color: #4466f2 !important;
        border-color: #4466f2 !important;
      }

      .toggler {
        background: #3498db;
        color: white;
        line-height: 40px;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        border: none;
      }

      .collapse {
        max-width: 160px;
        margin: 12px 20px;
      }

      .list-group-item a {
        text-decoration: none;
        color: inherit;
        font-size: 18px;
        font-weight: 400;
      }

      .list-group-item a i {
        margin-right: 8px;
      }

      .menu-container {
        padding: 8px;
      }

      .animated-icon {
        margin: 0;
        padding: 0;
        text-align: center;
        display: flex;
        align-items: center;
      }

      #icon {
        cursor: pointer;
        transform: translate3d(0, 0, 0);
      }

      path#top,
      path#bottom {
        stroke-dasharray: 240px 950px;
      }

      path#middle {
        stroke-dasharray: 240px 240px;
      }

      path {
        fill: none;
        transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25),
          stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
        stroke-width: 40px;
        stroke-linecap: round;
        stroke: #fff;
        stroke-dashoffset: 0px;
      }

      .cross path#top,
      .cross path#bottom {
        stroke-dashoffset: -650px;
      }

      .cross path#middle {
        stroke-dashoffset: -115px;
        stroke-dasharray: 1px 220px;
      }
    </style>
    <script src="https://kit.fontawesome.com/4d8145f93f.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- hamburger -->
    <div class="menu-container">
      <button class="toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
        <div class="animated-icon">
          <svg id="icon" viewBox="0 0 800 600">
            <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top">
            </path>
            <path d="M300,320 L540,320" id="middle"></path>
            <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
          </svg>
        </div>
      </button>
      <div class="collapse" id="menu">
        <ul class="me-auto mb-2 mb-lg-0 list-group list-group-flush">
          <li class="list-group-item">
            <a class="" aria-current="page" href="#"><i class="fas fa-sitemap"></i> Categories</a>
          </li>
          <li class="list-group-item">
            <a class="" aria-current="page" href="#"><i class="fas fa-shopping-bag"></i> Your Orders</a>
          </li>
          <li class="list-group-item">
            <a class="" aria-current="page" href="#"><i class="fas fa-shopping-cart"></i> Cart</a>
          </li>
          <li class="list-group-item">
            <a class="" aria-current="page" href="#"><i class="fas fa-user-cog"></i> Settings</a>
          </li>
          <li class="list-group-item">
            <a class="" aria-current="page" href="#"><i class="fas fa-headset"></i> Contact Us</a>
          </li>
      </div>
    </div>
    <!-- hamburger ends here -->
    <!-- Mobile View -->
    <% if(length==0) { %>
      <div class="card-body cart">
        <div class="col-sm-12 empty-cart-cls text-center">
          <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3" />
          <h3><strong>Your Cart is Empty</strong></h3>
          <h4>Add something to make me happy :)</h4>
          <a href="/" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
        </div>
      </div>
      <% } else {%>
        <div class="deliver_to">
          <div class="deliver_container">
            <% if(addresses.length==0) {%>
              <div class="change_container">
                <button class="btn change_btn">Add Address</button>
              </div>
              <% } else { %>
                <div class="div_text">
                  <span class="deliver_text1">Deliver to : </span>
                  <span class="user_location">
                    <%=addresses[0].city%>(<%=addresses[0].pincode%>)
                  </span>
                </div>
                <div class="change_container">
                  <button class="btn change_btn">Change</button>
                </div>
                <% } %>
          </div>
        </div>
        <div class="checkout">
          <div class="checkout_container">
            <div class="price_subtotal">
              <div class="price_section">
                <div class="section_title">
                  Subtotal
                  <span class="ms-1 fw-bolder fs-4"> ₹<%= amount%></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="place">
          <% if(addresses.length==0) {%>
            <button class="btn buy_btn" disabled>Proceed to Checkout</button>
            <% } else if(valid.length> 0) {%>
              <p>
                <%=message%>
              </p>
              <% for(int i=0;i<valid.length;i++) {%>
                <p>Remove <%=valid[i]%>
                </p>
                <%}%>
                  <button class="btn buy_btn" disabled>Proceed to Checkout</button>
                  <% } else {%>
                    <form action="/placeOrder" method="post">
                      <input type="hidden" value="cart" name="orderType">
                      <input id="hiddenAmount" type="hidden" value="<%= amount %>" name="amount">
                      <input type="hidden" value="<%= addresses[0]._id %>" name="address_id" a>
                      <button type="submit" class="btn buy_btn">Proceed to Checkout</button>
                    </form>
                    <button class="btn buy_btn">Proceed to Checkout</button>
                    <% } %>
        </div>
        <div class="products">
          <% for(let i=0;i < products.length;i++) {%>
            <div class="products_tab">
              <div class="product_info">
                <a href="">
                  <!-- Product Page Linked by Image -->
                  <div class="product_img-div">
                    <img src="store_UI/img/<%=products[i].images[0]%>" alt="" class="product_img" />
                  </div>
                </a>
                <div class="product_description">
                  <div class="p_title-div">
                    <a href="">
                      <!-- Product Page Linked by Title -->
                      <div class="p_title">Product Title</div>
                    </a>
                  </div>
                  <div class="p_price">
                    <span class="mazinda">₹<%=products[i].salePrice%></span>
                  </div>
                </div>
                <div class="p_quantity">
                  <span class="mazinda">₹<%=products[i].quantity%></span>
                </div>
                <div class="p_available-div">
                  <div class="p_available">In Stock</div>
                </div>
                <div class="p_seller-div">
                  <div class="p_seller">
                    <span>
                      <%=products[i].name%>
                    </span>
                  </div>
                </div>
                <div class="p-assured-div">
                  <div class="p-assured">
                    <!-- Mazinda assured logo -->
                  </div>
                </div>
              </div>
            </div>
            <div class="product-actions"></div>
            <% } %>
        </div>
        <div class="value">
          <div class="value_container">
            <span class="price">Price Details</span>
            <div class="price_breakup">
              <div class="price_section">
                <div class="section_title">Price (<%=products.length %> items)</div>
                <span> ₹<%=amount+discount%></span>
              </div>
              <div class="price_section">
                <div class="section_title">Discount</div>
                <span class="color-2">- ₹<%= discount %></span>
              </div>
              <div class="price_section">
                <div class="section_title">Delivery Charges</div>
                <span class="color-2"> FREE</span>
              </div>
              <div class="price_total">
                <div class="price_section">
                  <div class="section_title">Total Amount</div>
                  <span id="amount">
                    <%= amount %>
                  </span>
                </div>
              </div>
              <div class="value_final">You will save ₹<%=discount%> on this order</div>
              <div class="value_final">
                <button id="wallet" class="btn buy_btn">Use <%=Math.min(amount,wallet.coins)%> Mazinda coins</button>
              </div>
            </div>
          </div>
        </div>
        <% } %>
          <script>
            let div = document.querySelector(".animated-icon");
            div.addEventListener('click', () => {
              div.classList.toggle('cross')
            });
            let wallet = document.getElementById("wallet");
            console.log(wallet);
            let hiddenAmount = document.getElementById("hiddenAmount");
            let amount = document.getElementById("amount");
            let checker = false;
            wallet.addEventListener("click", () => {
              if (checker) return;
              checker = true;
              hiddenAmount.value = hiddenAmount.value - parseInt(wallet.value / 10);
              amount.value = amount.value - parseInt(wallet.value / 10);
              wallet.value = wallet.value - 10 * parseInt(wallet.value / 10);
              wallet.classList.add("nonclickable");
            })
            const addressButton = document.getElementById("noAddress");
            if (addressButton) {
              addressButton.addEventListener('click', () => {
                const feedback = document.getElementById("invalid-feedback");
                feedback.style.display = 'block';
              });
            }
          </script>
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
  </body>

</html>