<style>
  /**body**/
  .main{
      height: 100%;
      width: 100%;
      background: rgba(241, 250, 255, 1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .sub-main{
      background: white;
      width: 85%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .main-img img{
      height: 250px;
      width: 350px;
      padding-top: 10px;
  }

  .sub-main-title h1{
      font-size: 30px;
      font-weight: 700;
      font-family: Arial, Helvetica, sans-serif;
      padding-top: 25px;
      padding-bottom: 25px;
  }

  .orders{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background: #F2F4F8;
      margin-bottom: 20px;
  }

  .men{
      margin-bottom: 0px;
  }

  .order-img{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
  }

  .order-img img{
      width: 74px;
      height: 82px;
      padding: 20px 20px 20px 20px;
  }

  .orders-text{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 20px;
  }

  .orders-text h4{
      color: rgba(85, 151, 218, 1);
      font-weight: 600;
      font-size: 20px;
      padding-top: 5px;
  }

  .orders-text h6{
      color: rgba(242, 97, 7, 1);
      font-weight: 700;
      font-size: 16px;
  }

  .orders-btn{
      width: 320px;
      margin-right: 20px;
  }

  .orders-btn button{
      background-color: rgba(85, 151, 218, 1);
      border: none;
      width: 150px;
      height: 45px;
      font-size: 18px;
      color: white;
      font-weight: 700;
      border-radius: 4px;
  }

  .track-order{
      margin-right: 10px;
  }
</style>

<%- include('partials/header') %>


<!--Body-->
<div class="main">
  <div class="main-img">
    <img src="/user_UI/img/categories/main-div-img.png" alt="main-image">
  </div>
  <div class="sub-main">
    <div class="sub-main-title">
      <h1>Your Orders</h1>
    </div>
    <div class="orders">
      <div class="order-img">
        <img src="/user_UI/img/categories/white-shoe.png" alt="white-shoe">
        <div class="orders-text">
          <h4>PUMA Smash v2 Unisex Sneakers</h4>
          <h6>Arriving by 2 September</h6>
        </div>
      </div>
      <div class="orders-btn">
          <button class="track-order">Track order</button>
          <button class="detail-order">View details</button>
      </div>
    </div>
    <div class="orders men">
      <div class="order-img">
        <img src="/user_UI/img/categories/men-will-be-men.png" alt="white-shoe">
        <div class="orders-text">
          <h4>Men Black Brand Logo Printed.</h4>
          <h6>Arriving by 2 September</h6>
        </div>
      </div>
      <div class="orders-btn">
          <button class="track-order">Track order</button>
          <button class="detail-order">View details</button>
      </div>
    </div>
    <div class="sub-main-title">
      <h1>Completed Orders</h1>
    </div>
    <div class="orders">
      <div class="order-img">
        <img src="/user_UI/img/categories/footwear.png" alt="white-shoe">
        <div class="orders-text">
          <h4>Nike Red Sport Shoe Limited Edition!!</h4>
          <h6>Arriving by 2 September</h6>
        </div>
      </div>
      <div class="orders-btn">
        <button class="track-order">Track order</button>
        <button class="detail-order">View details</button>
      </div>
    </div>
  </div>
</div>
  








<!-- <div class="container">
  <link rel="stylesheet" href="/user_UI/css/orders.css" />
  <article class="card">
    <header class="card-header">My Orders / Tracking</header>
    <div class="card-body">
        <% for(var i=0;i<pendingOrders.length;i++) { %>
            <h2><u>ORDER #<%= i+1 %></u></h2>
            <h6>Order ID: <%= pendingOrders[i]._id %></h6>
            <h6>Order Number: <%= pendingOrders[i].orderNumber %></h6>
            <h6>Order Time: <%= pendingOrders[i].orderTime %></h6>
            <h6>Order Shipping ID: <%= pendingOrders[i].address_id %></h6>
        <% } %>

      <% for(var i=0;i < completedOrders.length;i++) { %>
      <h2><u>ORDER #<%= i+1 %></u></h2>
      <h6>Order ID: <%= completedOrders[i]._id %></h6>
      <h6>Order Number: <%= completedOrders[i].orderNumber %></h6>
      <h6>Order Time: <%= completedOrders[i].orderTime %></h6>
      <h6>Order Shipping ID: <%= completedOrders[i].address_id %></h6>
       <article class="card">
                            <div class="card-body row">
                                <div class="col"> <strong>Estimated Delivery time:</strong> <br>29 nov 2019 </div>
                                <div class="col"> <strong>Shipping BY:</strong> <br> BLUEDART, | <i class="fa fa-phone"></i> +1598675986 </div>
                                <div class="col"> <strong>Status:</strong> <br> Picked by the courier </div>
                                <div class="col"> <strong>Tracking #:</strong> <br> BD045903594059 </div>
                            </div>
                        </article>
      <div class="track">
                            <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
                            <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Picked by courier</span> </div>
                            <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> On the way </span> </div>
                            <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Ready for pickup</span> </div>
                        </div>
      <hr />
      <ul class="row">
        <% for(var j=0;j< completedOrders[i].products.length;j++) { %>
        <li class="col-md-4">
          <figure class="itemside mb-3">
            <div class="aside">
              <img
                src="https://i.imgur.com/iDwDQ4o.png"
                class="img-sm border"
              />
            </div>
            <figcaption class="info align-self-center">
              <p class="title">
                Product Id: <%= completedOrders[i].products[j].product_id %>
              </p>
              <span class="text-muted">
                Quantity: <%= orders[i].products[j].quantity %>
              </span>
            </figcaption>
          </figure>
        </li>
        <% } %>
      </ul>
      <hr />
      <hr />
      <% } %>
      <a href="/" class="btn btn-warning" data-abc="true">
        <i class="fa fa-chevron-left"></i> Back to home</a
      >
    </div>
  </article>
</div>
<%- include('partials/footer') %> -->
