<!--Updated-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
      <!-- Favicons -->
       <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="user_UI/img/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="user_UI/img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="user_UI/img/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="user_UI/img/favicon/site.webmanifest" />
    <title>Mazinda</title>

    <script src="https://kit.fontawesome.com/de5fa6f0f7.js" crossorigin="anonymous"></script>
    
    <style>

      *{
            margin: 0px;
            padding: 0px;
        }

        .navbar{
            background-color: white;
            padding-bottom: 0px;
        }

        .navbar .nav-list li{
            list-style: none;
            display: inline-block;
        }

        .navbar .nav-list li a{
            text-decoration: none;
        }

        .nav-img img{
            width: 205px;
            height: 107.02px;
        }

        .navbar .nav-list{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            margin-bottom: 0px;
        }
        
        .nav-items .search{
            display: flex;
            align-items: center;
            box-sizing: border-box;
            width: 600px;
            height: 45px;
            border: 1px solid #5597DA;
            border-radius: 5px;
        }

        .nav-items .search input{
            border: none;
            height: 42px;
            outline: none;
            width: 100%;
            background: rgba(0, 0, 0, 0);
        }

        .nav-items .search i{
            margin: 0px 10px;
        }

        .nav-items a{
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-size: 18px;
            color: #5597DA;
            font-weight: 700;
            line-height: 26px;
        }

        .shopping-cart{
            color: #5597DA;
        }

        .login-btn{
            background: #F26107;
            border: none;
            width: 95px;
            height: 38px;
            color: white;
            border-radius: 4px;
            font-size: 24px;
        }

        @media screen and (min-width: 940px) and (max-width:1200px){
            .navbar .search{
                max-width: 300px;
            }
        }

        @media screen and (min-width: 800px) and (max-width: 940px){

            .navbar .search{
                max-width: 400px;
                /* width: 100%; */
            }
        }

        @media screen and (min-width: 600px) and (max-width:800px){

            .navbar .search{
                display: none;
            }
        }

        @media screen and (max-width:600px){
            .nav-list .nav-img, .nav-list .search,.nav-list .menu a, .nav-list .menu i, .nav-list .login-btn{
                display: none;
            }
        }
    </style>

    <script type="text/javascript">
      $(document).ready(function () {
        $("#ajaxBtn").click(function () {
          $.ajax("/jquery/submitData", {
            type: "POST", // http method
            data: { myData: "This is my data." }, // data to submit
          });
        });
      });
    </script>
  </head>

  <body class="font-sans leading-normal tracking-normal mt-12">
    <header>
      <!--Nav-->
      <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-items">
                <div class="nav-img">
                    <img src="user_UI/img/logos/mazindalong.png" alt="Mazinda Logo">
                </div>
            </li>
            <li class="nav-items">
                <form class="search" action="/products" method="GET">
                    <i class="fa-solid fa-magnifying-glass search-logo"></i>
                    <input type="text" placeholder="Search on Mazinda">
                    <i class="fa-solid fa-microphone search-speak"></i>
                </form>
            </li>
            <li class="nav-items menu"> 
                <a href="#your-orders">Your orders</a>
            </li>
            <li class="nav-items menu">
                <a href="#contact-us">Contact Us</a>
            </li>
            <li class="nav-items menu">
                <% if(user && user.userType=="user" ) {%>
              <a href="/viewCart">Cart
                <i class="fa-solid fa-cart-shopping shopping-cart"></i>
                <%=cartItems%>
              </a>
              <%} else {%>
                <a href="/login">Cart
                  <i class="fa-solid fa-cart-shopping"></i>
                </a>
              <%}%>
            </li>

            <li>
              <% if(user && user.userType=="user" ) {%>
                <a href="/profile" style="padding: 2px 4px!important;" class="btn btn-primary">
                  <span><i class="fas fa-user-check"></i></span>
                </a>
              <%} else {%>
                <a href="/login"><button class="login-btn">Log In</button></a>
              <%}%>
            </li>
            
        </ul>
    </header>










<!--Previous-->
<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
  
      <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="user_UI/img/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="user_UI/img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="user_UI/img/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="user_UI/img/favicon/site.webmanifest" />
    <title>Mazinda</title>
    <meta name="author" content="name" />
    <meta name="description" content="description here" />
    <meta name="keywords" content="keywords,here" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
      integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Play&family=Raleway:wght@800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/user_UI/user.css" />
    <style>
      .btn{
        padding: 0.3rem 0.75rem !important;
      }
      @media (max-width: 768px) {
        .showHideDiv {
          width: 10%;
        }

        .logoDiv {
          width: 60%;
        }

        .categories {
          margin-top: 100px;
        }

        .category {
          max-height: 95px;
        }

        .product-img-box {
          height: auto;
        }
      }
    </style>
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"
    ></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $("#ajaxBtn").click(function () {
          $.ajax("/jquery/submitData", {
            type: "POST", // http method
            data: { myData: "This is my data." }, // data to submit
          });
        });
      });
    </script>
  </head>

  <body class="font-sans leading-normal tracking-normal mt-12">
  
    <header>
  
      <nav
        style="background-color: orange"
        aria-label="menu nav"
        class="pt-2 pb-1 mt-0 h-auto fixed w-full z-20 top-0"
      >
        <div class="flex items-center pb-1 justify-center mx-1 px-1">
          <div  class="flex ml-1 flex-grow  text-white logoDiv">
            <img src="user_UI/img/logos/mazindalong.png" width="70px" alt="">
          </div>

          <select class="block appearance-none bg-gray-200 border border-gray-200 text-gray-700 p-1 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state" onchange="changeCity(this)">
            <option value="<%=city %>"><%=city%></option>
            <% for(let i=0;i<cities.length;i++) {%> 
              <%if(cities[i] == city) continue %> 
            <option value="<%=cities[i]%>"><%=cities[i]%></option>
            <%}%>
          </select>


          <div class="navRightDiv d-flex ml-1">
            <div
              id="register"
              class="d-flex content-center justify-center ml-1"
            >
              <% if(user && user.userType=="user" ) {%>
              <a href="/profile" style="padding: 2px 4px!important;" class="btn btn-primary">
                <span><i class="fas fa-user-check"></i></span>
              </a>
              <%} else {%>
              <a href="/login" style="padding: 2px 4px!important;" class="btn btn-primary">Log In</a>
              <%}%>
            </div>
          </div>
        </div>
    
        <div class="divider w-100"></div>
        <div class="flex items-center justify-center mx-1 px-1 text-white mb-1">
          <div
            class="flex pb-2 ml-1 flex-shrink md:w-1/3 md:justify-start text-white showHideDiv"
          >
            <a href="#" id="showHide" aria-label="Home" class="ml-1">
              <span class="text-xl text-blue-600"
                ><i class="fa-solid fa-bars"></i
              ></span>
            </a>
          </div>
          <span class="relative w-full mx-1">
            <form action="/products" method="GET">
              
              <input
                aria-label="search"
                type="search"
                id="search"
                name="search"
                placeholder="Search for Products"
                class="w-full bg-gray-900 text-white transition border border-transparent focus:outline-none focus:border-gray-400 rounded py-1.5 pl-10 appearance-none leading-normal" data-search
              />
              <input type="hidden" name="city" value="<%=city%>">
              <button
                type="submit"
                class="absolute search-icon"
                style="top: 0.7rem; left: 0.8rem"
              >
                <svg
                  class="fill-current pointer-events-none text-white w-4 h-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"
                  ></path>
                </svg>
              </button>
            </form>
          </span>
          <div class="cartIcon  d-flex">
            <% if(user && user.userType=="user" ) {%>
            <a href="/viewCart" class="btn btn-primary"
              ><i class="fa-solid fa-cart-shopping"></i>
              <%=cartItems%>
            </a>
            <%} else {%>
            <a href="/login" class="btn btn-primary"
              ><i class="fa-solid fa-cart-shopping"></i
            ></a>
            <%}%>
          </div>
        </div>
      </nav>
    </header>
    <div
      id="overlay"
      style="
        background-color: orange;
        height: 100%;
        width: 300px;
        max-width: 100%;
        z-index: 1000;
        position: fixed;
        top: 85px;
        border-top: white 2px solid;
      "
    >
      <ul class="cover list-none">
        <a href="/">
          <li>Home</li>
        </a>
        <a href="/products?city=<%=city%>">
          <li>Products</li>
        </a>
        <a href="/viewOrders">
          <li>Your Orders</li>
        </a>
        <a href="/settings">
          <li>Settings</li>
        </a>
        <a href="/contact">
          <li>Contact Us</li>
        </a>
      </ul>
    </div> -->